#welcome-section {
	padding-top: 60px;
}

#welcome-section h1 {
	margin-bottom: 30px;
}
#footer{
	text-align: center;
    font-weight: bold;
    position: absolute;
	bottom: 5px;
	width: 100%;
}
.navbar{
	margin-bottom: 0px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#set-page-size{
	margin-top: 10px;
	height: 50px;
}
#filebox{
	/*float: left;*/
	height: 80px;
	width: 25%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#undoredobox{
	height: 80px;
	width: 18%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#connectbox{
	height: 80px;
	width: 28%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#zoom-box {
	height: 80px;
	width:	29%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
	
}

#menubar{
	/*position: absolute;*/
	border: 1px solid black;
	margin: 2px 2px 0px 2px;
	width: 100%;
}

.left-navigation-bar{
	
	border: 1px solid black;
}

.editor-area{

	border: 1px solid black;
}

 .scrollbar{
	position: relative;
	height: 495px;
	overflow: scroll; /*for horizontal and vertical scroll bars */
}

.menu{
	margin-left: 40px;
	/*padding: 2px 2px 2px 2px;*/
}

.top-navigation-menu {
	/* border: 1px solid black; */
}

.action-section{
	border: 1px dotted;
	margin: 2px 5px;
}

.action-section a {
	text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0px;
}

.action-section select {
	margin: 21px 13px;
}
.no-padding{
	padding: 0;
}
body{
	position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}
.panel {
	background: #ffffbd;
    background-size:90% 90%;
    height:300px;
	display:none;
    font-family:garamond,times-new-roman,serif;
}

div .vnf-list {
    margin: auto;
    text-align: center;
}

.vnf {
	
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
	background-color: #F0FFFF;
	height: 30px;
	width: 50px;
    display: inline-block;
	float: left;
    vertical-align: top;
	
}

div .vnf-after-drop{
	border: 1px solid black;
	background-color: white;
	height: 30px;
	width: 50px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
} 

div .vnf-after-drop:hover {
	border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    /* -o-box-shadow: 2px 2px 19px #444; */
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

div .vnf-after-drop p{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.ns {
	
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
	background-color: #F0FFFF;
	height: 30px;
	width: 50px;
    display: inline-block;
	float: left;
    vertical-align: top;
	
}

div .ns-after-drop{
	border: 1px solid black;
	background-color: white;
	height: 30px;
	width: 50px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
} 

div .ns-after-drop:hover {
	border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    /* -o-box-shadow: 2px 2px 19px #444; */
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

div .ns-after-drop p{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.ui-draggable{
	background-position: center center;
}


#connection-list {
	text-align: center;
    display: none;
    font-size: 90%;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -250px;
    top: 100px;
    background-color: white;
    padding: 10px;
    border: 1px solid #456;
    opacity: 0.8;
    border-radius: 8px;
    color: #444;
}

/*
tbody {  
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
	box-sizing: border-box;
}
*/
table{
    
    border-spacing: 10px;
    border-collapse: separate;
	text-align: center;
} 

th, td {
	width: 30%
	text-align: center;
}

#detachAll-link {
	float: right;

}