/*style used in project view*/
.labelClass {
    width:250px;
    clear:left;
    text-align:left;
    padding-right:10px;
	margin-bottom: 20px;
}

input.labelClass {
    float:left;
}


/*style for parsley form validation*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  color:#B94A48;
  margin: 3px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 1em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}  

.nav {
	font-weight:bold;
}

.nav>li>a {
    cursor: pointer;
}

a.navbar-brand {
    cursor: pointer;
}

.userinfo{
	float: right;
}

#userNameImg{
	padding: 15px;
}

.avatar {
    margin-right: 5px;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

#log-out{
	cursor: pointer;
}

.uploadYml{
	margin:10px 20px 10px 20px;
}

.configurationForm{
	margin:0px 20px 10px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* hiding close button in jqueryui dialog*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  margin-left: 20px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -4px;
  bottom: -7px;
  background-color: #cccccc;
  background-image: url("GitHub-Mark-32px.png");
  background-size:cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #fff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
