/*style used in project view*/
.labelClass {
    width:250px;
    clear:left;
    text-align:left;
    padding-right:10px;
	margin-bottom: 20px;
}

input, labelClass {
    float:left;
}

/*style for buttons*/
.editorButtons
{
	display: inline-block;
	white-space: nowrap;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #a1a1a1;
	padding: 0 2em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

/* Hexadecimal entities for the icons */

/*Forms*/
.add:before {	content: "\271A";}
.delete:before{	content: "\2718";}

/*style for parsley form validation*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  color:#B94A48;
  margin: 3px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 1em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}  

.nav {
	font-weight:bold;
}

.nav>li>a {
    cursor: pointer;
}

a.navbar-brand {
    cursor: pointer;
}

.userinfo{
	float: right;
}

#userNameImg{
	padding: 15px;
}

.avatar {
    margin-right: 5px;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

#log-out{
	cursor: pointer;
}

.uploadYml{
	margin:10px 20px 10px 20px;
}

.configurationForm{
	margin:0px 20px 10px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}
