.ui-tooltip {
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
  }
#errorDialog{
	white-space:pre;
}
#selectArea{
	border: 2px dashed red;
    position: absolute;
    background-color:grey;
    opacity:0.2;
}

#welcome-section {
	padding-top: 60px;
}

#welcome-section h1 {
	margin-bottom: 30px;
}
#footer{
	text-align: center;
    font-weight: bold;
    position: absolute;
	bottom: 5px;
	width: 100%;
}
.navbar{
	margin-bottom: 0px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#set-page-size{
	margin-top: 10px;
	height: 50px;
}

#filebox{
	/*float: left;*/
	height: 80px;
	width: 25%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#undoredobox{
	height: 80px;
	width: 18%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#connectbox{
	height: 80px;
	width: 28%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
}

#zoom-box {
	height: 80px;
	width:	29%;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	/*margin: 5px 55px 5px 55px;*/
	
}

#menubar{
	/*position: absolute;*/
	border: 1px solid black;
	margin: 2px 2px 0px 2px;
	width: 100%;
}

.left-navigation-bar{
	border-style: ridge none none none;
	border-width: 1px;
}

.panzoom{
	background-color: #cdcdcd;
}
.editor-area{
	background-color: white;
	position: relative;
}

.menu{
	margin-left: 40px;
	/*padding: 2px 2px 2px 2px;*/
}

.action-section{
	background: #f8f8f8;
	border-style: none ridge none none;
	border-width:1px;
}

.action-section a {
	text-align: center;
    width: 100%;
    display: block;
    padding: 15px 0px;
}

.action-section select {
	margin: 21px 13px;
}
.no-padding{
	padding: 0;
}
body{
	position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.panel {
	background: #f8f8f8;
	background-size:90% 90%;
	height:300px;
	display:none;
	font-family:garamond,times-new-roman,serif;
	overflow-y: auto;
}

div .vnf-list {
    margin: auto;
    text-align: center;
}

.vnf {
	font-family: Arial;
	font-weight: bold;
	font-size:20px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #337ab7;
	color: #337ab7;
	height: 30px;
	float: left;
	text-align: center;
	vertical-align: middle;
	z-index: 24;
}

div .vnf-after-drop{
	font-family: Arial;
	font-weight: bold;
	font-size:16px;
	background: url(vnfIcon.png) no-repeat;
	background-size: contain;
	height: 60px;
	width: 60px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
} 

div .vnf-after-drop:hover {
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

div .vnf-after-drop>input{
	transform: translate(0%,300%);
	border: none;
	background-color: rgba(255,255,255,0)
}

.ns {
	font-family: Arial;
	font-weight: bold;
	font-size:20px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #337ab7;
	color: #337ab7;
	height: 30px;
	float: left;
	text-align: center;
	vertical-align: middle;
	z-index: 24;
}

div .ns-after-drop{
	font-family: Arial;
	font-weight: bold;
	font-size:16px;
	background:  url(nsIcon.png) no-repeat;
	background-size: contain;
	height: 80px;
	width: 80px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
} 

div .ns-after-drop:hover {
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}


div .ns-after-drop>input{
	transform: translate(0%,350%);
	border: none;
	background-color: rgba(255,255,255,0)
}

.cp{
	border: 3px solid #337ab7;
	margin: 5px;
	height: 40px;
	width: 40px;
	font-weight: bold;
	font-size:20px;
	color: #337ab7;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    display: table;
	float: left;
    vertical-align: middle;
	text-align: center;
	z-index: 24;
}

.cp > p {
	display: table-cell;
	vertical-align: middle;
}

div .cp-after-drop{
	background: url(cpIcon.png) no-repeat;
	background-size: contain;
	height: 60px;
	width: 60px;
	font-weight: bold;
	font-size:16px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
} 

div .cp-after-drop:hover {
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}

div .cp-after-drop>input{
	transform: translate(0%,300%);
	border: none;
	background-color: rgba(255,255,255,0)
}
.e-lan{
	margin: 5px 5px 5px 5px;
	border: 3px solid #337ab7;
	height: 40px;
	width: 80px;
	color: #337ab7;
	font-weight: bold;
	font-size:20px;
    display: inline-block;
	float: left;
	text-align:center;
    vertical-align: middle;
    z-index: 24;
}

.e-lan-after-drop{
		font-family: Arial;
	font-weight: bold;
	font-size:16px;
	background: url(elanIcon.png) no-repeat;
	background-size: contain;
	height: 66px;
	width: 66px;
	cursor: pointer;
	z-index: 24;
	text-align: center;
	vertical-align: middle;
	border: 3px solid #337ab7;
} 

div .e-lan-after-drop:hover {
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
div .e-lan-after-drop>input{
	transform: translate(0%,300%);
	border: none;
	background-color: rgba(255,255,255,0)
}

.ui-draggable{
	background-position: center center;
}

.selectedNode
{
	border-style: dashed;
	border-width: 3px;
    border-color: red;
}


#connection-list {
	text-align: center;
    display: none;
    font-size: 90%;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -250px;
    top: 100px;
    background-color: white;
    padding: 10px;
    border: 1px solid #456;
    opacity: 0.8;
    border-radius: 8px;
    color: #444;
}

table{
    
    border-spacing: 10px;
    border-collapse: separate;
	text-align: center;
} 

th, td {
	width: 30%
	text-align: center;
}

#detachAll-link {
	float: right;

}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

 .labelClass {
    width:230px;
    clear:left;
    text-align:left;
    padding: 0px;
	margin-bottom: 20px;
}

input, labelClass {
    float:left;
}

.endpointLabel {
	display:none;
	pointer-events: none;
    background-color: black; 
    z-index:25;
    font-size:16px;
    color: white;
    font-weight: bold;
    padding:0.2em;
    cursor:pointer;
	opacity: 0.5;
}

.glyphicon{
		 font-size: 25px;
		 text-shadow: 0 0 5px grey;
}
.glyphicon-trash{
	color:red;
}