 .labelClass {
    width:230px;
    clear:left;
    text-align:left;
    padding: 0px;
	margin-bottom: 20px;
}

input, labelClass {
    float:left;
}

.endpointLabel {
    display:none;         /* foo is display:none to begin */
	pointer-events: none;
    background-color:white; 
    z-index:25;
    border:1px solid red;
    font-size:10px;
    padding:0.2em;
    cursor:pointer;
}